body {
  background-color: #c4a484;
  font-family: Arial, sans-serif;
}

.header {
  padding: 1.5rem;
  text-align: center;
}

h1 {
  font-size: 3rem;
  margin: 0;
  color: #2b1a12;
  font-family: "Courier New", Courier, monospace;
}

h2 {
  color: #2b1a12;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-family: "Courier New", Courier, monospace;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15rem;
}

form {
  display: flex;
  margin-bottom: 1rem;
}

input[type="text"] {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.75rem;
  font-size: 1rem;
  width: 100%;
  max-width: 400px;
  font-family: "Courier New", Courier, monospace;
}

button[type="submit"] {
  /* ADD BUTTON */
  background-color: #2b1a12;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 0.75rem 2.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Courier New", Courier, monospace;
}

button[type="submit"]:hover {
  background-color: #3f2200;
}

.task-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 400px;
  margin-top: 50px;
}

.task-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 1rem;
  transition: transform 0.3s ease;
}

.task-item:last-child {
  margin-bottom: 0;
}

.task-description {
  flex: 1;
  margin-right: 1rem;
  font-family: "Courier New", Courier, monospace;
  font-weight: 400;
  font-size: 1.3rem;
}

.button {
  /* DELETE | COMPLETE*/
  background-color: #2b1a12;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 5px;
  font-family: "Courier New", Courier, monospace;
}

.button:hover {
  background-color: #3f2200;
}

.task-item.completed {
  text-decoration: line-through;
  filter: grayscale(100%);
}

.input {
  display: flex;
  flex-direction: row;
  font-family: "Courier New", Courier, monospace;
}
.drop {
  height: 44px;
  border: 1px solid #ccc; /* Set border style and color */
  border-radius: 5px;
}

/* Edit button style */
.modify-button {
  background-color: #2b1a12; /* Blue */
  border: none;
  border-radius: 4px;
  color: white;
  padding: 0.5rem 1rem;
  font-size: 0.875rem; /* Adjust font size */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Add smooth transition */
  margin-right: 5px;
}

.modify-button:hover {
  background-color: #3f2200; /* Darker blue on hover */
}

h3 {
  font-family: "Courier New", Courier, monospace;
}
.action-button {
  height: 44px; /* Adjust the height as desired */
  font-family: "Courier New", Courier, monospace;
  background-color: #2b1a12;
  color: white;
  border: none;
  border-radius: 4px;
  margin-right: 5px;
}
